.resetStyle {
  list-style: none;
  padding-left: 0;
}

.wrapper {
  height: 90vh;
}

.columnWrapper {
  border: dashed;
  border-width: 1px;
  border-radius: 5px;
}

.logo {
  width: 151px;
  height: 45px;
}
